 .head {
     max-width: 1300px;
     background-color: rgb(50, 211, 50);
     height: 100px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     box-shadow: 0px 20px 40px red;
     padding: 15px;
     position: relative;
 }

 #todo-input {
     margin: 20px;
     height: 40px;
     padding: 10px;
     font-size: 20px;
     width: 80%;
     border-radius: 10px;
     border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
     outline: none;
     appearance: none;
     position: absolute;
     right: 12%;
     top: 10%
 }

 #submit {
     position: absolute;
     right: 15%;
     top: 29%;
     background-color: white;
     outline: none;
     border: none;
     border-radius: 25px;
 }

 img {
     height: 45px;
 }

 ol {
     margin-top: 50px;
     background-color: rgb(255, 255, 255);
 }

 li {
     height: 30px;
     margin-right: 10px;
     border: 1px solid gray;
 }

 .cancel {
     cursor: pointer;
     width: 20px;
     float: right;
     height: 100%;
 }

 .alreadyChecked {
     text-decoration: line-through;
 }

 .unchecked {
     text-decoration: none;
 }

 div {
     margin-top: 0;
     text-align: center;
     font-size: 20px;
     font-weight: bold;
 }

 #bar {
     margin: 5%;
     width: 90%;
 }